%input.form-control#search{:placeholder=>"Search..."}
.container-fluid
  .span6.content
    %br
    #messages-wrapper
      -@messages.each do |message|
        -if message.user_id==current_user.id
          .message.to
            ="#{message.user.login}: #{message.body}"
            %span.pull-right.time
              ="#{message.created_at.strftime("%a %T")}"
        -else
          .message.from
            ="#{message.user.login}: #{message.body}"
            %span.pull-right.time
              ="#{message.created_at.strftime("%a %T")}"
    %br
    %textarea.form-control#message
    %br
    %button.btn.btn-success#send_message
      Send message