= render 'layouts/rooms_list'
- status_icon_styles = ["online", "offline", "away", "do_not_disturb"]
.content
  .lobby-header
    #current_user
      %span.user_name
        = link_to "#{current_user.firstname} #{current_user.lastname}", current_user
      = form_tag users_path, :id => 'user_search', :method => 'get' do
        = text_field_tag 'search', params[:search], :id => 'search-box'
        = submit_tag 'Search', :class=>"btn btn-primary lobby-btn"
  %h3 Invite user
  = form_tag invite_user_path, :method => 'post' do
    = text_field_tag 'email', nil, :placeholder=>"E-mail", :type => 'email'
    = submit_tag 'Send invite', :class=>"btn btn-primary lobby-btn"
  %h3
    Possible friends
    - @possible_friends.each do |user|
      %table.rooms_group
        %tr
          %td
            .friend_photo
              = image_tag avatar_url(user,50),:class => "avatar"
          %td.friend_name
            = link_to "#{user.firstname} #{user.lastname}", user_path(user.id)
          %td.friend_action.add_friend{:friend_id => user.id}
            %span{:class => "glyphicon glyphicon-plus add_new_friend"}



