- if user_signed_in?
  %h2
    = link_to current_user.firstname + ' ' + current_user.lastname, current_user
  = form_tag users_path, :method => 'get'
  = text_field_tag 'search', params[:search], :id => 'search-box'
  = submit_tag 'Search'
  %h3
    User List
  %ul.friends_list
    - @possible_friends.each  do |user|
      %div.some{:style => "position: relative; margin-top:40px;"}
        =image_tag avatar_url(user,50),:class => "avatar", :style =>"float: left"
        %div.some{:style => "position: relative; top:12px;"}
          = link_to user.firstname + ' ' + user.lastname, user_path(user.id)
          = link_to 'Add Friend', friendships_path(:friend_id => user), :method => :post



