- status_icon_styles = ["online", "offline", "away", "do_not_disturb"]
#current_user
  %span.user_name
    = link_to "#{current_user.firstname} #{current_user.lastname}", current_user
  .dropdown
    %button.btn.dropdown-toggle#userStatus{:type=>"button", :data=>{:toggle=>"dropdown"}}>
      %span{:class => "#{get_user_status_style(current_user.user_stat_id)}"}
      ="#{current_user.user_stat.status_name}"
      %span.caret
    %ul.dropdown-menu{:role=>"menu", :aria=>{:labelledby=>"dropdownMenu1"}}
      - @statuses.each_with_index do |status, index|
        %li{:role => "presentation"}
          %a.change-status{:role=>"menuitem", :tabindex=>"-1", :data=>{:id=>status.id}, :href=>"#"}
            %span{:class => "glyphicon glyphicon-off #{status_icon_styles[index]}"}

            = status.status_name
      %li.divider{:role=>"presentation"}
      %li{:role=>"presentation"}
        = link_to 'Logout', destroy_user_session_path, {:method=>'delete', :role=>"menuitem", :tabindex=>"-1"}
  = form_tag users_path, :id => 'user_search', :method => 'get' do
    = text_field_tag 'search', params[:search], :id => 'search-box'
    = submit_tag 'Search', :class=>"btn btn-success"
%h3 Invite user
= form_tag invite_user_path, :method => 'post' do
  = text_field_tag 'email', nil, :placeholder=>"E-mail", :type => 'email'
  = submit_tag 'Send invite', :class=>"btn btn-success"

%h3
  Possible friends
%ul#friends_list
  - @possible_friends.each  do |user|
    %li.friend{:user_id => user.id}
      .friend_photo
        = image_tag avatar_url(user,50),:class => "avatar"
      .friend_name
        = "#{user.firstname} #{user.lastname}"
    .friend_action.add_friend{:friend_id => user.id}
      -#= link_to friendships_path(:friend_id => user), :method => :post do
      %span{:class => "glyphicon glyphicon-plus add_new_friend"}