- if user_signed_in?
  %h2
    My profile
  %p
    User name:
    = "#{@user.firstname} #{@user.lastname}"
  %h3
    Friends
  %ul
    - for friendship in @user.friendships
      %li
        = link_to "#{friendship.friend.firstname} #{friendship.friend.lastname}", user_path(friendship.friend.id)
        - if (@user.id == current_user.id)
          = link_to 'Remove', friendship, :method => :delete
        - elsif friendship.friend.id != current_user.id
          - if !is_friend? friendship.friend.id
            = link_to 'Add Friend', friendships_path(:friend_id => friendship.friend.id), :method => :post


  %p
    = link_to 'Find new friends', users_path
