= render 'layouts/rooms_list'
.content
  #photo
    = image_tag avatar_url(@user,125), class: 'img-profle'
  %span#user_name
    = "#{@user.firstname} #{@user.lastname}"
  %br
    %span#user_email
      Write me on:
      = "#{@user.email}"
  %br
    Avatar supported by
    = link_to 'gravatar.com', 'https://ru.gravatar.com', { target: '_blank' }
  %br
  %br
  %span#find_more_friends
    -#= link_to 'Find new friends', users_path
  #friendship
  = render 'friends'

