=render 'layouts/navigation'
.authform
  %h2 Forgot your password?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true, class: 'form-control'
      %br
      = f.submit "Send me password " , :class => 'button right'
  = render "devise/shared/links"