=render 'layouts/navigation'
.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Log in
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = link_to 'Sign up', new_registration_path(resource_name), class: 'right'
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'right'
      = f.label :password
      = f.password_field :password, class: 'form-control'
    = f.submit 'Log in', :class => 'button right'
    = link_to  user_omniauth_authorize_path(:facebook) do
      %img{:src=>"../img/facebook.png",:class=>"social-button"}
    = link_to  user_omniauth_authorize_path(:google_oauth2) do
      %img{:src=>"../img/google.jpg",:class=>"social-button"}
    = link_to  user_omniauth_authorize_path(:twitter) do
      %img{:src=>"../img/twitter.png",:class=>"social-button"}
    = link_to  user_omniauth_authorize_path(:github) do
      %img{:src=>"../img/github.jpg", :class=>"social-button"}
    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        = f.label :remember_me