=render 'layouts/navigation'
.authform
  %h2= t 'devise.invitations.edit.header'
  = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
    = devise_error_messages!
    = f.hidden_field :invitation_token
    .form-group
      %div
        = f.label :login
        %br/
        = f.text_field :login
    .form-group
      %div
        = f.label :password
        %br/
        = f.password_field :password
    .form-group
      %div
        = f.label :password_confirmation
        %br/
      = f.password_field :password_confirmation
    %p= f.submit t("devise.invitations.edit.submit_button"),:class => 'button right'