%nav.navbar-inverse
  %ul.nav.navbar-nav.side-nav
    - if !@room.nil?
      %li.active
        = link_to "Room: #{@room.name}", root_path
      - current_user.friends.each do |friend|
        %li.user_friend{:data_user_id => friend.id, :data_room_id => @room.id}
          %a.glyphicon.glyphicon-plus.pull-right{:href=>"#"}
            = "#{friend.firstname}#{friend.lastname}"
    %li
      = link_to new_room_path do
        %span.glyphicon.glyphicon-plus
        Create room
    %li
      = link_to rooms_path do
        %span
        Rooms list