%aside.left
  %h1.logo
    %a{:href => "/"}
      %img{:alt => "SBS", :src => "../img/logo.png"}
  %nav.lobby-panel
    %ul#tabs.tabs.ui-sortable
      %li#tab_lobby.selected
        %a.open{:href => "#"}
          %span.glyphicon.glyphicon-th-list>
          Lobby
      - if !@room_list.nil?
        - @room_list.each do |room|
          - if room.id==@room_id.to_i
            %li.active
              =link_to "#{room.name}",room_path(:id=>room.id),:room_id => room.id
          -else
            %li
              =link_to "#{room.name}",room_path(:id=>room.id), :room_id => room.id
  #status_ui
    =image_tag avatar_url(current_user,50),:class => "avatar_mini"
    .dropdown
      %a#drop1.dropdown-toggle.avail{"data-toggle" => "dropdown", :href => "#", :role => "button", :type => "button"}
        %span.glyphicon.glyphicon-eye-open>
        =current_user.user_stat.status_name
        %span.glyphicon.glyphicon-hand-down
      %ul.dropdown-menu.avail-drop{"aria-labelledby" => "drop1", :role => "menu"}
        - @statuses.each_with_index do |status, index|
          %li{:role => "presentation"}
            %a.change-status{:role=>"menuitem", :tabindex=>"-1", :data=>{:id=>status.id}, :href=>"#"}
              %span{:class => "#{get_user_status_style(index)}"}
              = status.status_name
        %li
          %a.change-status{:href => "#", :tabindex => "-1"}
            %span.glyphicon.glyphicon-question-sign.drop-hlp.drop-col-mar>
            Help
        %li
          = link_to destroy_user_session_path, :method=>'delete', :tabindex => "-1" do
            %span.glyphicon.glyphicon-share-alt.drop-col-mar>
            Sign out
    %a.glyphicon.glyphicon-cog{:href => "#"}
%aside.right_panel
  .top-form
    .dropdown
      %button#drop3.btn.btn-default.dropdown-toggle.tf-but{"data-toggle" => "dropdown", :type => ""}
        %span.glyphicon.glyphicon-search
      %form.dropdown-menu.search-form{:action => "/", "aria-labelledby" => "drop3", :method => "get", :role => "menu"}
        %input{:name => "search", :placeholder => "Search", :type => "search"}
          %button{:type => "submit"}
            %span.glyphicon.glyphicon-record
    .dropdown
      %button#drop2.btn.btn-default.dropdown-toggle.tf-but{"data-toggle" => "dropdown", :role => "button"}
        Room actions
        %span.caret
      %ul.dropdown-menu.room-action{"aria-labelledby" => "drop2", :role => "menu"}
        %li
          %a{:href => "#", :tabindex => "-1"} Action
        %li
          %a{:href => "#", :tabindex => "-1"} Another action
        %li
          %a{:href => "#", :tabindex => "-1"} Else remark
  - if @room_users != nil
    .list
      - @room_users.each do |user|
        .member
          %span{:class => get_user_status_style(user.user_stat_id)}
          = link_to "#{user.login}", user_path(user.id), :user_id => user.id, :room_id => @room.id
  .footer

