!!!
%html
  %head
    = include_gon(:init => true)
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Chat'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Chat'}"}
    %script{:src=>"http://js.pusher.com/2.1/pusher.min.js"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
  %body
    = yield
