!!!
%html
  %head
    = include_gon(:init => true)
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Chat'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Chat'}"}
    %script{:src=>"http://code.jquery.com/jquery-1.11.0.min.js"}
    %script{:src=>"http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"}
    %script{:src=>"http://js.pusher.com/2.1/pusher.min.js"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
  - if !@background_image.nil?
    %body{:style=>("background-image:url('#{@background_image.path}');")}
      = yield
  - else
    %body
      %script{:type=>"text/template", :id=>"template_message"}
        {{#messages}}
        %li{:class=>"{{#equal user_id}}{{/equal}} clearfix", "data"=>{"id" => "{{id}}"}}
          %span.chat-img.pull-left
            %img.avatar{src: "{{avatar}}"}
          .chat-body.clearfix
            .header
              %strong.primary-font
                {{#change_login user_id login}}{{/change_login}}
              %small.pull-right.text-muted
                %span.glyphicon.glyphicon-time
                {{create_at}}
              .message
                {{#safe_mess messages}}{{/safe_mess}}
              {{#if attach_file_path}}
              %p.attach-file
                {{#attach-files attach_file_path}}{{/attach-files}}
              {{/if}}
        {{/messages}}
      = yield



