%html
  %head
    = include_gon(:init => true)
    %script{:src=>"http://js.pusher.com/2.1/pusher.min.js"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Chat'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Chat'}"}
    %script{:src=>"http://js.pusher.com/2.1/pusher.min.js"}

    -#%script{:src=>"jquery.bootstrap-growl.js"}


    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:style=>("background-image:url('../background/#{background_image()}');" unless user_signed_in?)}
    .container-fluid.navbar-fixed-top
      %header
        = render 'layouts/navigation'
      .row-fluid
        = render 'layouts/messages'
        = yield

